@import "tailwindcss" theme(static);
@import "@nuxt/ui";

@theme static {
  --font-sans: "Public Sans", sans-serif;
}

@layer base {
  body {
    @apply bg-neutral-50 dark:bg-neutral-950;
  }
  button {
    cursor: pointer;
  }
}

:root {
  --ui-container: var(--container-3xl);
}

html.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 14px;
}
.scrollbar-custom::-webkit-scrollbar-track {
  background-color: transparent;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: color-mix(in srgb, var(--ui-text-dimmed) 40%, transparent);
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: content-box;
}
.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: color-mix(in srgb, var(--ui-text-dimmed) 80%, transparent);
  background-clip: content-box;
}
